# Configuración del servidor
PORT=3000

# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=Ma2004-13
DB_NAME=xonler
DB_PORT=5432

# Configuración de seguridad
JWT_SECRET=tu_jwt_secret_super_seguro_aqui
BCRYPT_ROUNDS=12

# Configuración de CORS
CORS_ORIGIN=http://localhost:3000
