<!-- Componente de Footer para páginas Guest -->
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Xonler</h4>
        <p>Red de bibliotecas estudiantiles</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="/pages/guest/index.html" class="text-white">Inicio</a></li>
          <li><a href="/pages/guest/contacto.html" class="text-white">Contacto</a></li>
          <li><a href="/pages/guest/bibliotecas.html" class="text-white">Bibliotecas</a></li>
          <li><a href="/pages/guest/login.html" class="text-white">Iniciar Sesión</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <address>
          Email: info@xonler.edu<br>
          Teléfono: (123) 456-7890
        </address>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <small>&copy; 2025 Xonler - Red de Bibliotecas Estudiantiles</small>
    </div>
  </div>
</footer>
