/* ========================================
   PAGINACIÓN
   ======================================== */
.pagination .page-link {
  color: var(--color-dark);
}

.pagination .page-item.active .page-link {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
