apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: biblioteca-xonler
  labels:
    app: postgresql
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgresql
  selector:
    app: postgresql

