apiVersion: v1
kind: Service
metadata:
  name: sonarqube-service
  namespace: biblioteca-xonler
  labels:
    app: sonarqube
spec:
  selector:
    app: sonarqube
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      protocol: TCP
      nodePort: 30900
  type: NodePort

